extends ./layout.pug

block content
    a(href="/attributes") attributes
    br
    a(href="/case") case
    br
    a(href="/code") code
    br
    a(href="/comments") comments
    br
    a(href="/conditionals") conditionals
    br
    a(href="/filters") filters
    br